@import url('https://fonts.googleapis.com/css?family=Quicksand');
body{
  font-family: 'Quicksand', sans-serif;
}
.hero h1{
  padding-top: 60px;
  font-size: 25px;
}
.nav{
  top: 5%;
  font-size: 14px;
}
.nav br{
  background-color: white;
  position: fixed;
}
.nav a{
  text-decoration: none;
  color: black;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.nav a:hover{
  color: #64d1a5;
  text-decoration: none;
}
.nav a,visited{
  text-decoration: none;
  color: black;
}
.first{
  padding-left: 7px;
  padding-right: 7px;
}
.do{
  padding-left: 7px;
}
.don {
  padding-left: 7px;
}
.second{
  padding-left: 7px;
  padding-right: 7px;
}
.cont{
  padding-left: 7px;
}
.third{
  padding-left: 7px;
  padding-right: 7px;
}
.down{
  padding-left: 7px;
}
.fourth{
  padding-left: 7px;
}
.fith {
  padding-left:7px;
}
.img{
  padding-top: 5px;
}
pre {
  background-color: whitesmoke;
  color: #4a4a4a;
  font-size: 0.8em;
  white-space: pre;
  word-wrap: normal;
}

pre code {
  background: none;
  color: inherit;
  display: block;
  font-size: 1em;
  overflow-x: auto;
  padding: 1.25rem 1.5rem;
}
.padding{
  padding-top: 20px;
 }
