@import url('https://fonts.googleapis.com/css?family=Quicksand');
body{
  font-family: 'Quicksand', sans-serif;
}
.hero h1{
  padding-top: 60px;
  font-size: 25px;
}
.nav{
  top: 5%;
  font-size: 14px;
}
.nav br{
  background-color: white;
  position: fixed;
}
.nav a{
  text-decoration: none;
  color: black;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.nav a:hover{
  color: #64d1a5;
  text-decoration: none;
}
.nav a,visited{
  text-decoration: none;
  color: black;
}
.first{
  padding-left: 7px;
  padding-right: 7px;
}
.do{
  padding-left: 7px;
}
.don {
  padding-left: 7px;
}
.second{
  padding-left: 7px;
  padding-right: 7px;
}
.cont{
  padding-left: 7px;
}
.third{
  padding-left: 7px;
  padding-right: 7px;
}
.down{
  padding-left: 7px;
}
.fourth{
  padding-left: 7px;
}
.fith {
  padding-left:7px;
}
.img{
  padding-top: 5px;
}
/* Code Styles */
pre code {
  display: block;
  padding: 1rem 1.5rem;
  font-size:15px;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
pre code::after {
  content: attr(lang);
  font-size: 1.5rem;
  color: #BFBFBF;
  position: absolute;
  top: 5px;
  right: 10px;
}

code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
}
.padding{
  padding-top: 20px;
 }
