@import url('https://fonts.googleapis.com/css?family=Quicksand');
body{
  font-family: 'Quicksand', sans-serif;
}
.hero h1{
  padding-top: 130px;
}
.nav{
  top: 5%;
}
.nav br{
  background-color: white;
  position: fixed;
}
.nav a{
  text-decoration: none;
  color: black;
}
